*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
input::placeholder{
    text-align: center;
}
input, select{
    transition: .25s linear;
}
input, select, .gender{
    background-color: #f1f1f1;

}
input:hover, select:hover, .gender:hover{
    background-color: #e7dede;

}
select{
    border: none;
    outline: none;

}
select:focus{
    outline: none;
}
.containet{
    width: 900px;
    margin: 32px auto;
}

.all_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    min-height: calc(50vh - 80px);

}

.lines{
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.line{
    padding: 3px;
    background-color: gray;
    size: 20%;
    border-radius: 50vh;
    width: 20%;
}
.last{
margin: 0;
}
.active{
    background-color: rgb(90, 90, 226);
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn{
    display: flex;
    justify-content: space-around;
}

.btn_1, .btn_2{
    background-color: rgb(177, 177, 235);
    padding: 8px;
    border-radius: 10px;
    color: rgb(85, 74, 74);
    cursor: pointer;
    border: none;
    transition: .25s linear;
}
.btn_1:hover, .btn_2:hover{
    background-color: rgb(145, 145, 231);
    color: #f1f1f1;
    box-shadow: 2px 2px 5px 1px gray;
    transform: translateX(-2px);
    transform: translateY(-2px);

}


h1{
    font-size: 28px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.elem{
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    transition: .2s linear;
    width: 600px;
    box-shadow:  0 4px  16px rgba(62, 93, 121, 0.562);

}
.elem:hover{
    box-shadow: 2px 5px 5px 1px gray;
    transform: translateX(-3px);
    transform: translateY(-3px);
    box-shadow: 3px 3px 5px 1px rgba(88, 167, 240, 0.562);

}
.elem input{
    padding: 6px;
    border-radius: 17px;
    border: none;
    margin-right: 10px;
}
.elem input:focus{
    box-shadow: 3px 3px 5px 1px rgba(88, 167, 240, 0.562);;
    border: none;
    outline: none;
    cursor: pointer;
}
.place{
    display: flex;
}
.place select, .grazjdanstvo select{
    color: gray;;
}
.place select, .date select, .grazjdanstvo select{
    margin-right: 10px;
    padding: 6px;
    border-radius: 17px;
    transition: .25s linear;
    text-align: center;
}

.date{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.gender{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    position: relative;
    border-radius: 17px;
    padding: 6px;
    width: 120px;
    clip: (000);
}
.gender input{
    clip: (0,0,0);

}
.gender label{
    position: relative;
    top: 0;
    z-index: 1;
    transition: .25s linear;

}
.gender:hover{

}

